<template>
  <div>
    <div align="center">
      <div class="bbx q-ma-md" style="width:500px">
        <div class="q-ma-md" align="left">To do list</div>
        <div class="q-ma-md row items-center">
          <!-- Input Text BoX -->
          <div>
            <q-input v-model="list" label="รายการที่ต้องทำ" style="width:280px" />
          </div>
          <!-- ADD BTN -->
          <div class="q-ma-xs">
            <q-btn @click="addList()" label="เพิ่ม" color="secondary" style="width:140px" />
          </div>
        </div>
        <div class="q-ma-md row">
          <!-- min TO max -->
          <div>
            <q-btn
              @click="minToMaxBtn()"
              label="เรียงน้อยไปมาก"
              color="secondary"
              style="width:140px"
            />
          </div>
          <!-- max TO min -->
          <div class="q-mx-md">
            <q-btn
              @click="maxToMinBtn()"
              label="เรียงมากไปน้อย"
              color="secondary"
              style="width:140px"
            />
          </div>
          <!-- search -->
          <div>
            <q-btn @click="searchBtn()" label="ค้นหา" color="secondary" style="width:140px" />
          </div>
        </div>
        <!-- SHOWDATA list -->
        <div class="q-ma-md row" align="left" v-for="(item,index) in listData" :key="index">
          <div class="col-6">{{item}}</div>
          <!-- DELETE -->
          <div class="q-mx-md">
            <q-btn
              @click="deleteBtn(index)"
              round
              size="10px"
              color="secondary"
              text-color="black"
              icon="fas fa-trash-alt"
            />
          </div>
          <!-- edit -->
          <div class="q-mx-md">
            <q-btn
              @click="editBtn(index)"
              round
              size="10px"
              color="secondary"
              text-color="black"
              icon="fas fa-edit"
            />
          </div>
        </div>
      </div>
      <!-- BACK TO HOMEPAGE -->
      <div class="q-mt-xl" align="center">
        <q-btn @click="homePage()" class="text-body1" label="HOMEPAGE" color="primary" />
      </div>
    </div>
    <!-- .........................DIALOG............................ -->
    <!-- editDialog -->
    <div>
      <q-dialog v-model="editDialog" persistent>
        <q-card style="min-width: 350px">
          <q-card-section>
            <div class="text-h6">แก้ไขข้อมูล</div>
            <div class="text-body-1">ค่าที่ต้องการจะเปลี่ยน</div>
            <!-- Input Edit Text BoX -->
            <div>
              <q-input v-model="editList" style="width:300px" />
            </div>
          </q-card-section>

          <q-card-actions align="right" class="text-primary">
            <!-- ปุ่ม Cancel -->
            <q-btn flat label="Cancel" v-close-popup />
            <!-- ปุ่ม OK -->
            <q-btn @click="saveEditData()" flat label="ok" v-close-popup />
          </q-card-actions>
        </q-card>
      </q-dialog>
    </div>
    <!-- searchDialog -->
    <div>
      <q-dialog v-model="searchDialog" persistent>
        <q-card style="min-width: 350px">
          <q-card-section>
            <div class="text-h6">ค้นหา</div>
            <!-- Input search Text BoX -->
            <div>
              <q-input @keyup.enter="enterSearch()" v-model="searchList" style="width:300px" />
            </div>
            <!-- ข้อมูลสำคัญค้นหา -->
            <div
              class="q-ma-md row"
              align="left"
              v-for="(item,index) in showSearchData"
              :key="index"
            >
              <div class="col-6">{{item}}</div>
            </div>
          </q-card-section>
          <q-card-actions align="right" class="text-primary">
            <!-- ปุ่ม ปิด -->
            <q-btn flat label="ปิด" @click="close()" />
          </q-card-actions>
        </q-card>
      </q-dialog>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      indexData: "", //ตัวแปรเก็บค่า index จาก v-for
      searchDialog: false,
      searchList: "",
      showSearchData: "",
      editDialog: false, // ตัวแปรเปิด Dialog
      editList: "", //ตัวแปรรับข้อความแก้ไข
      list: "", // ตัวแปรรับค่าเพื่อใช้เก็บลง Array
      listData: [] // Array สำหรับเก็บค่าที่รับมาแสดงผล
    };
  },
  methods: {
    // เพิ่มค่าเก็บลง Array
    addList() {
      this.listData.push(this.list);
      this.list = "";
    },

    // เรียงจากน้อยไปมาก
    minToMaxBtn() {
      this.listData.sort((a, b) => {
        return a > b ? -1 : 1;
      });
    },

    // เรียงจากมากไปน้อย
    maxToMinBtn() {
      this.listData.sort((a, b) => {
        return a > b ? 1 : -1;
      });
    },

    // BACK TO HOMEPAGE
    homePage() {
      this.$router.push("/");
    },
    // --------------------DIALOG----------------------
    // search-DIALOG
    searchBtn() {
      this.searchDialog = true;
      this.showSearchData = this.listData;
    },
    // กด-Enter-ค้นหา
    enterSearch() {
      this.showSearchData = this.listData.filter(x => {
        return x == this.searchList;
      });
    },
    close() {
      this.searchDialog = false;
      this.searchList = "";
      this.showSearchData = [];
    },
    // -------------------------------------------------------------------------
    // EDIT-DIALOG
    editBtn(index) {
      this.editList = this.listData[index];
      this.editDialog = true;
      this.indexData = index;
    },
    // SAVE-EDIT
    saveEditData() {
      this.listData[this.indexData] = this.editList;
    },
    // DELETE
    deleteBtn(index) {
      this.listData.splice(index, 1);
    }
  }
};
</script>

<style lang="scss" scoped>
</style>
