<template>
  <div>
    <div align="center">
      <div class="q-my-md text-h4">โปรแกรมคำนวนเกรด</div>
      <!-- ก่อนมิดเทอม -->
      <div class="q-my-md row items-center justify-center">
        <div class="q-mr-md col-2 text-body1">ก่อนมิดเทอม (เต็ม 10)</div>
        <q-input outlined type="number" v-model="beforMidterm" />
        <div class="q-ml-md col-2 text-body1">คะแนน</div>
      </div>
      <!-- มิดเทอม -->
      <div class="q-my-md row items-center justify-center">
        <div class="q-mr-md col-2 text-body1">มิดเทอม (เต็ม 40)</div>
        <q-input number outlined type="number" v-model="midterm" />
        <div class="q-ml-md col-2 text-body1">คะแนน</div>
      </div>
      <!-- หลังมิดเทอม -->
      <div class="q-my-md row items-center justify-center">
        <div class="q-mr-md col-2 text-body1">หลังมิดเทอม (เต็ม 10)</div>
        <q-input outlined type="number" v-model="afterMidterm" />
        <div class="q-ml-md col-2 text-body1">คะแนน</div>
      </div>
      <!-- ปลายภาค -->
      <div class="q-my-md row items-center justify-center">
        <div class="q-mr-md col-2 text-body1">ปลายภาค (เต็ม 40)</div>
        <q-input outlined type="number" v-model="final" />
        <div class="q-my-md q-ml-md col-2 text-body1">คะแนน</div>
      </div>
      <!-- คำนวนเกรด -->
      <div class="q-my-lg">
        <q-btn
          label="คำนวนเกรด"
          class="bg-secondary text-body1"
          style="width:300px"
          @click="result()"
        />
      </div>
      <!-- รวมคะแนน  และ  เกรด -->
      <div class="row justify-center">
        <!-- รวมคะแนน -->
        <div class="q-mx-xl text-body1">
          <div>รวม/คะแนน</div>
          <div
            style="width:100px;height:100px"
            class="row items-center justify-center bg-grey text-h4"
          >
            <div></div>
            <div>{{total}}</div>
            <div></div>
          </div>
        </div>
        <!-- เกรด -->
        <div class="q-mx-xl text-body1">
          <div>เกรด</div>
          <div
            style="width:100px;height:100px"
            class="row items-center justify-center bg-green-13 text-h4"
          >
            <div></div>
            <div>{{grade}}</div>
            <div></div>
          </div>
        </div>
      </div>

      <!-- BACK TO HOMEPAGE -->
      <div class="q-mt-xl" align="center">
        <q-btn @click="homePage()" class="text-body1" label="HOMEPAGE" color="primary" />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      beforMidterm: "", // ตัวแปรก่อนมิดเทอม
      midterm: "", // ตัวแปรมิดเทอม
      afterMidterm: "", // ตัวแปรหลังมิดเทอม
      final: "", // ตัวแปรปลายเทอม
      total: "", // ตัวแปรผลรวมคะแนน
      grade: "" // ตัวแปร เกรด
    };
  },
  methods: {
    //-------------BACK TO HOMEPAGE--------------
    homePage() {
      this.$router.push("/");
    },
    //-------------คำนวนเกรด---------------
    result() {
      //เช็ดค่าของตัวแปรก่อนมิดเทอมถูกต้อง
      if (this.beforMidterm > 10 || this.beforMidterm < 0) {
        this.$q.notify({
          message: "กรุณากรอกค่าระหว่าง 0-10",
          color: "red"
        });
        return;
      }
      //เช็คค่าตัวแปรมิดเทอมที่รับมาถูกต้อง
      if (this.midterm > 40 || this.midterm < 0) {
        this.$q.notify({
          message: "กรุณากรอกค่าระหว่าง 0-40",
          color: "red"
        });
        return;
      }
      //เช็คค่าตัวแปรหลังมิดเทอมที่รับมาถูกต้อง
      if (this.afterMidterm > 10 || this.afterMidterm < 0) {
        this.$q.notify({
          message: "กรุณากรอกค่าระหว่าง 0-10",
          color: "red"
        });
        return;
      }
      //เช็คค่าตัวแปรปลายเทอมที่รับมาถูกต้อง
      if (this.final > 40 || this.final < 0) {
        this.$q.notify({
          message: "กรุณากรอกค่าระหว่าง 0-40",
          color: "red"
        });
        return;
      }
      let numberBeforMidterm = Number(this.beforMidterm);
      let numberMidterm = Number(this.midterm);
      let numberAfterMidTern = Number(this.afterMidterm);
      let numberFinal = Number(this.final);
      this.total =
        numberBeforMidterm + numberMidterm + numberAfterMidTern + numberFinal;
      if (this.total >= 80) {
        this.grade = "A";
      }

      if (this.total < 80) {
        this.grade = "B+";
      }
      if (this.total < 75) {
        this.grade = "B";
      }
      if (this.total < 70) {
        this.grade = "C+";
      }
      if (this.total < 65) {
        this.grade = "C";
      }
      if (this.total < 60) {
        this.grade = "D+";
      }
      if (this.total < 55) {
        this.grade = "D";
      }
      if (this.total < 50) {
        this.grade = "F";
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.brx {
  border: 1px solid red;
}
</style>