<template>
  <div>
    <div align="center">
      <div class="text-h3">HOMEWORK</div>
      <!-- HW1 -->
      <div class="q-ma-lg">
        <q-btn @click="grade()" class="text-h5" label="HW-1 คำนวนเกรด" color="primary" />
      </div>
      <!-- HW2 -->
      <div class="q-ma-lg">
        <q-btn @click="addList()" class="text-h5" label="HW-2 To Do List" color="secondary" />
      </div>
      <!-- HW4 -->
      <div class="q-ma-lg">
        <q-btn @click="sort()" class="text-h5" label="HW-4 Sort Array" color="orange-10" />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  methods: {
    grade() {
      this.$router.push("/grade");
    },
    addList() {
      this.$router.push("/list");
    },
    sort() {
      this.$router.push("/sort");
    }
  }
};
</script>

<style lang="scss" scoped>
</style>