<template>
  <div>
    <div class="q-ma-md" align="center">
      <div class="text-h3">Sort Array</div>
      <div
        class="q-ma-lg text-h5"
      >ClassRoom:['ป.1/1' , 'ป.1/2' , 'ป.2/1' , 'ป.2/2' , 'ป.2/3' , 'ม.1/1']</div>
      <!-- SORT BTN -->
      <div class="row justify-center">
        <!-- BTN-1 -->
        <div>
          <q-btn @click="btn1()" label="เรียงลำดับ ป. --> ม. จากน้อยไปมาก" color="red-13" />
        </div>
        <!-- BTN-2 -->
        <div class="q-mx-md">
          <q-btn @click="btn2()" label="เรียงลำดับ ป. --> ม. จากมากไปน้อย" color="green-14" />
        </div>
        <!-- BTN-3 -->
        <div class="q-mx-md">
          <q-btn @click="btn3()" label="เรียงลำดับชั้นที่มีห้องมากที่สุด " color="orange-13" />
        </div>
        <!-- BTN-4 -->
        <div>
          <q-btn @click="btn4()" label="เรียงลำดับชั้นที่มีห้องน้อยที่สุด" color="blue-10" />
        </div>
      </div>
      <br />
      <br />
      <br />
      <div class="q-ma-xl text-h5">{{classRoom}}</div>
    </div>
    <br />
    <!-- BACK TO HOMEPAGE -->
    <div class="q-mt-xl" align="center">
      <q-btn @click="homePage()" class="text-body1" label="HOMEPAGE" color="primary" />
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      showSortData: [],
      classRoom: ["ป.1/1", "ป.1/2", "ป.2/1", "ป.2/2", "ป.2/3", "ม.1/1"]
    };
  },
  methods: {
    // BACK TO HOMEPAGE
    homePage() {
      this.$router.push("/");
    },
    // ------------BTN--------------

    btn1() {
      this.classRoom.sort((a, b) => {
        let dataA = a.split("/");
        let dataB = b.split("/");
        if (dataA[0] > dataB[0]) {
          return 1;
        } else {
          if (dataA[1] > dataB[1]) {
            return 1;
          } else {
            return -1;
          }
        }
      });
    },
    btn2() {
      this.classRoom.sort((a, b) => {
        let dataA = a.split("/");
        let dataB = b.split("/");
        if (dataA[0] > dataB[0]) {
          return 1;
        } else {
          if (dataA[1] > dataB[1]) {
            return -1;
          } else {
            return 1;
          }
        }
      });
    },
    btn3() {
      let datatemp = this.classRoom.sort((b, a) => {
        let dataA = a.split("/");
        let dataB = b.split("/");
        // console.log(dataA, dataB);
        if (dataA[0] < dataB[0]) {
          return -1;
        }
      });
      let index = 0;
      let temp = datatemp.splice(index, 1);
      console.log(temp);
      datatemp.push(temp[0]);
      console.log(datatemp);
    },
    btn4() {
      let element = this.classRoom.sort((a, b) => {
        let dataA = a.split("/");
        let dataB = b.split("/");
        if (dataA[0] > dataB[0]) {
          return 1;
        } else {
          if (dataA[1] > dataB[1]) {
            return 1;
          } else {
            return -1;
          }
        }
      });
      let id = 5;
      let x = element[id];
      element[id] = element[id - 1];
      element[id - 1] = x;
      let id2 = 4;
      let x2 = element[id2];
      element[id2] = element[id2 - 1];
      element[id2 - 1] = x2;
      let id3 = 3;
      let x3 = element[id3];
      element[id3] = element[id3 - 1];
      element[id3 - 1] = x3;
      let id4 = 2;
      let x4 = element[id4];
      element[id4] = element[id4 - 1];
      element[id4 - 1] = x4;
      let id5 = 1;
      let x5 = element[id5];
      element[id5] = element[id5 - 1];
      element[id5 - 1] = x5;
    }
  }
};
</script>

<style lang="scss" scoped>
</style>